<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ru.capralow.dt.hrm.support.internal.personnelaccounting_v3_1.ui.ExecutableExtensionFactory:ru.capralow.dt.hrm.support.internal.personnelaccounting_v3_1.ui.pi.AddPiHandler"
            id="ru.capralow.dt.hrm.support.internal.personnelaccounting_v3_1.ui.pi.AddPiHandler"
            name="%pi.command.name">
      </command>
  
      <command
            defaultHandler="ru.capralow.dt.hrm.support.internal.personnelaccounting_v3_1.ui.ExecutableExtensionFactory:ru.capralow.dt.hrm.support.internal.personnelaccounting_v3_1.ui.pi.EditAttributesHandler"
            id="ru.capralow.dt.hrm.support.internal.personnelaccounting_v3_1.ui.pi.EditAttributesHandler"
            name="%pi.attributes.name">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:#BslEditorContext?after=com._1c.g5.v8.dt.bsl.ui.extension.handlers.AddMethodToExtension">
         <menu
               label="%pi.hrm.label">
            <menu
                  label="%pi.personellaccounting.label">
               <command
                     commandId="ru.capralow.dt.hrm.support.internal.personnelaccounting_v3_1.ui.pi.AddPiHandler"
                     style="push"
                     tooltip="%pi.command.tooltip">
                  <visibleWhen
                        checkEnabled="false">
                     <reference
                           definitionId="com._1c.g5.v8.dt.bsl.Bsl.Editor.opened">
                     </reference>
                  </visibleWhen>
               </command>
               <command
                     commandId="ru.capralow.dt.hrm.support.internal.personnelaccounting_v3_1.ui.pi.EditAttributesHandler"
                     style="push"
                     tooltip="%pi.attributes.tooltip">
                  <visibleWhen
                        checkEnabled="false">
                     <reference
                           definitionId="com._1c.g5.v8.dt.bsl.Bsl.Editor.opened">
                     </reference>
                  </visibleWhen>
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
</plugin>
